@media screen and (max-width: 768px) {
	.nav {
		margin-top: -200px;
		transition: all .2s ease;
	}

	.nav ul{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		opacity: 0;
	}

	.nav-show {
		margin-top: 0;
		transition: all .3s ease;
	}

	.nav-show ul{
		opacity: 1;
	}

	.nav ul li {
		padding: 8px 0;
	}

	.header-after, .mobile-menu {
		display: block;
	}

	.about__content {
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.about__content img {
		margin: 20px auto;
		width: 270px;
		height: 216px;
	}
}